@tailwind base;
@tailwind components;
@tailwind utilities;
/* add fonts here */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@layer base {
  :root {
    --background: 0 3% 94%;
    --foreground: 36 37% 8%;
    --card: 0 3% 94%;
    --card-foreground: 36 37% 8%;
    --popover: 0 3% 94%;
    --popover-foreground: 36 37% 8%;
    --primary: 37 98% 53%;
    --primary-foreground: 36 37% 8%;
    --secondary: 220 51% 16%;
    --secondary-foreground: 0 3% 94%;
    --muted: 0 4% 20%;
    --muted-foreground: 36 37% 70%;
    --accent: 232 47% 32%;
    --accent-foreground: 0 3% 94%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 36 37% 8%;
    --border: 0 4% 20%;
    --input: 0 4% 20%;
    --ring: 232 47% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 3% 6%;
    --foreground: 36 37% 92%;
    --card: 0 3% 6%;
    --card-foreground: 36 37% 92%;
    --popover: 0 3% 6%;
    --popover-foreground: 36 37% 92%;
    --primary: 37 98% 47%;
    --primary-foreground: 0 3% 6%;
    --secondary: 220 51% 84%;
    --secondary-foreground: 0 3% 6%;
    --muted: 0 4% 80%;
    --muted-foreground: 36 37% 92%;
    --accent: 232 47% 68%;
    --accent-foreground: 0 3% 6%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 35 37% 10%;
    --border: 0 3% 60%;
    --input: 0 4% 80%;
    --ring: 232 47% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Poppins', sans-serif;
  }
}
